<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'quotes')}">

  <body>
  
  
    <h2>Quote Information</h2>
  
  
    <table class="table table-striped" th:object="${quote}">
      <tr>
        <th>Content</th>
        <td><b th:text="*{content}"></b></td>
      </tr>
      <tr>
        <th>AuthorId</th>
        <td th:text="*{authorId}"></td>
      </tr>
    </table>
  
    <!-- <a th:href="@{{id}/edit(id=${quote.id})}" class="btn btn-default">Edit
      Quote</a>
    <a th:href="@{{id}/comments/new(id=${quote.id})}" class="btn btn-default">Add
      New Comment</a> -->
  
    <br />
    <br />
    <br />
    <h2>Comments</h2>
  
    <table class="table table-striped">
  
      <tr th:each="comment : ${comments}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Content</dt>
            <dd th:text="${comment.content}"></dd>
            <dt>Author</dt>
            <dd th:text="${comment.authorId}"></dd> 
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <!-- <th>Comment Date</th> -->
                <th>Description</th>
              </tr>
            </thead>
            <tr th:each="comment : ${comment.comments}">
               <!--<td th:text="${#temporals.format(comment.date, 'yyyy-MM-dd')}"></td>-->
              <td th:text="${comment?.content}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{quoteId}/comments/{commentId}/edit(quoteId=${quote.id},commentId=${comment.id})}">Edit
                  Comment</a></td>
              <td><a
                th:href="@{{quoteId}/comments/{commentId}/comments/new(quoteId=${quote.id},commentId=${comment.id})}">Add
                  Comment</a></td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
  
  </body>

</html>
